<!--page to show to confirm password reste( redirected by link in the mail)-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    {% if validlink %}
      <h4>Set a new password!</h4>
      <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Change my password" class="btn btn-danger">
      </form>
    {% else %}
      <p> This link is now invalid!. please try to reset your password again, this time maybe in the right way :)</p>
    {% endif %}
  </div>
{% endblock content %}
